.courses{
    margin-left: 36%;
    border: 1px solid black;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0px 15px;
    margin-bottom: 20px;
}